  <%- include('includes/head.ejs') %>
  <%- include('includes/nav.ejs') %>
    <main class="container">
      <div class="products">
        <% if (products.length > 0) { %>
          <% products.forEach((product)=> { %>
            <div class="product">
              <img src="<%= product.pr_image ? `/img/${product.pr_image}` : '/img/product.jpg' %>"  alt="<%= product.pr_name %>"/>
              <h2 class="product__title"><%= product.pr_name %></h2>
              <p class="product__price"><%= product.pr_price %></p>
              <a class="detail-btn" type="submit">Details</a>
            </div>
          <% }) %>
        <% } else { %>
          <h1>There's no products...</h1>
        <% } %>
      </div>
    </main>
<%- include('includes/end.ejs') %>
